// transition when the navbar becomes navbar-sticky after scroll down
.navbar {
    transition: all 0.5s ease-in-out;
  }

// Add transparency to the navbar-sticky
.navbar-sticky {
    opacity: 0.95;
}

.header {
    min-height: 1000px;
    // use a gradient with opacity 80% in front of the image background 
    background: linear-gradient(
        to bottom right,
        rgba(0, 0, 0, 0.8),
        rgba(0, 0, 0, 0.8)
      ),
      url('../images/header-background.jpg') center center no-repeat;
    background-size: cover;
}

// Carousel slide 
.header .slide {
    width: 70%;
    margin: 0 auto;
}

.invitation-bg {
     // use a gradient with opacity 80% in front of the image background 
    background: linear-gradient(
        to bottom right,
        rgba(0, 0, 0, 0.8),
        rgba(0, 0, 0, 0.8)
      ),
      url('../images/invitation-background.jpg') center center no-repeat;
    background-size: cover;
  }

// Provides a dark background to the hamburger menu on small screens (< 992px)
@media (max-width: 992px) {
    .navbar {
      background: var(--bs-dark);
    }

    // Reduce the space in the bottom of the header between Carousel and Registration sections
    .header {
        height: 800px !important;
        min-height: 800px !important;
    }

    // Increase the Carousel slide in small screens
    .header .slide {
        width: 90%;
        margin: 0 auto;
    }

    // Format the header text to fit better on small screens
    .header .text-container p {
        width: 100% !important;
        font-size: 16px;
      }

    // Remove the register section extra padding, use important to override the bootstrap default padding
    .register {
        padding: 40px 0 !important;
      }
    
    .register h2 {
        text-align: center;
    }

    // Summary reduce the margin and increase the width
    .summary {
        margin-top: 0 !important;
        width: 90% !important;
    }    

}